body {
    background-color: #F6F3F3;
    color: #232323;
}
/* メニュートップ */
    .menu-table-container {
        width: 90%;
        margin: 0 auto;
    }
    .page-nav-menu {
        font-size: 20px;
        text-decoration: underline;
        text-decoration-color: #917A7E;
        text-decoration-thickness: 3px;
        margin: 3%;
    }
/* メニュートップ終了 */
/* メニュー */
    /* メニューフレックス */
    .menu-flex {
        width: 50%;
        margin: 0 auto;
        justify-content: center;
        display: flex;
    }
    /* メニューフレックス終了 */
    .title-box {
        background-color: #232323;
        color: #F6F3F3;
        margin: 10% auto 5% auto;
        text-align: center;
    }
    /* 各タイトルの幅設定 */
    .cut-title {
        width: 130px;
    }
    .color-title {
        width: 180px;
    }
    .perm-title {
        width: 150px;
    }
    .straight-title {
        width: 220px;
    }
    .treatment-title {
        width: 250px;
    }
    .other-title {
        width: 180px;
    }
    /* 各タイトルの幅設定 */
    /* カット */
    .general {
        width: 6%;
    }
    .general-dots {
        width: 74%;
    }
    .general-price {
        width: 20%
    }
    .teen {
        width: 9%;
    }
    .teen-dots {
        width: 71%;
    }
    .teen-price {
        width: 20%;
    }
    .kids {
        width: 6%;
    }
    .kids-dots {
        width: 74%;
    }
    .kids-price {
        width: 20%;
    }
    .cut-point {
        width: 12%;
    }
    .cut-point-dots {
        width: 68%;
    }
    .cut-point-price {
        width: 20%;
    }
    /* カット終了 */
    /* カラー */
    .retouch {
        width: 12%;
    }
    .retouch-dots {
        width: 68%;
    }
    .retouch-price {
        width: 20%
    }
    .full {
        width: 6%;
    }
    .full-dots {
        width: 74%;
    }
    .full-price {
        width: 20%
    }
    .natural {
        width: 22%;
    }
    .natural-dots {
        width: 58%;
    }
    .natural-price {
        width: 20%
    }
    .manicure {
        width: 15%;
    }
    .manicure-dots {
        width: 65%;
    }
    .manicure-price {
        width: 20%
    }
    .mesh {
        width: 29%;
    }
    .mesh-dots {
        width: 51%;
    }
    .mesh-price {
        width: 20%
    }
    /* カラー終了 */
    /* パーマ */
    .cosume-curl {
        width: 16%;
    }
    .cosume-curl-dots {
        width: 64%;
    }
    .cosume-curl-price {
        width: 20%
    }
    .aircurb {
        width: 14%;
    }
    .aircurb-dots {
        width: 66%;
    }
    .aircurb-price {
        width: 20%
    }
    /* パーマ終了 */
    /* ストレート */
    .cosume-straight {
        width: 24%;
    }
    .cosume-straight-dots {
        width: 56%;
    }
    .cosume-straight-price {
        width: 20%
    }
    .hair-straight {
        width: 12%;
    }
    .hair-straight-dots {
        width: 68%;
    }
    .hair-straight-price {
        width: 20%
    }
    .straight-point {
        width: 12%;
    }
    .straight-point-dots {
        width: 68%;
    }
    .straight-point-price {
        width: 20%
    }
    /* ストレート終了 */
    /* トリートメント */
    .light {
        width: 9%;
    }
    .light-dots {
        width: 71%;
    }
    .light-price {
        width: 20%
    }
    .standard {
        width: 16%;
    }
    .standard-dots {
        width: 64%;
    }
    .standard-price {
        width: 20%
    }
    .head-spa {
        width: 15%;
    }
    .head-spa-dots {
        width: 65%;
    }
    .head-spa-price {
        width: 20%
    }
    /* トリートメント終了 */
    /* その他 */
    .shampoo {
        width: 14%;
    }
    .shampoo-dots {
        width: 66%;
    }
    .shampoo-price {
        width: 20%
    }
    .blow {
        width: 9%;
    }
    .blow-dots {
        width: 71%;
    }
    .blow-price {
        width: 20%
    }
    .up {
        width: 9%;
    }
    .up-dots {
        width: 71%;
    }
    .up-price {
        width: 20%
    }
    /* その他終了 */
/* メニュー終了 */

