body {
    background-color: #232323;
    color: #F6F3F3;
}
.page-nav-staff {
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: #7A918D;
    text-decoration-thickness: 3px;
    margin: 3%;
}
/* ハンバーガー */
.hamburger-button span {
    background-color: #F6F3F3;
}
/* ハンバーガー終了 */

/* スタッフトップ */
.staff-top-container {
    margin: 10%　auto;
    display: flex;
}
.staff-top-left {
    width: 50%;
}
.creare-staff-title {
    text-align: center;
    margin-top: 30%;
}
.creare-staff-text{
    margin-top: 10%;
    text-align: center;
}
.staff-top-right {
    width: 50%;
}
.philosophy-woman {
    width: 100%;
}
/* スタッフトップ終了 */
/* スタッフ紹介 */
.staff-introduction-container {
    display: flex;
    text-align: center;
    margin: 10% auto;
    width: 80%;
}
.staff-introduction-right {
    margin-left: 100px;
}
.takeda-profile {

}

.staff-name-container {
    display: flex;
    justify-content: center;
    margin: 10% auto;
}
.staff-name {
    text-decoration: underline;
    text-underline-offset: 8px;
}
.staff-name-kana {
    font-size: 20px;
    padding-top: 20px;
}
/* スタッフ紹介終了 */