@media screen and (min-width: 1024px) { /*ウィンドウ幅が1024px以上の場合に適用*/
    body {
        background-color: #EDEAE2;
        color: #232323;
    }
    .page-nav-staff {
        font-size: 20px;
        text-decoration: underline;
        text-decoration-color: #7A918D;
        text-decoration-thickness: 3px;
        margin: 3%;
    }
    /* ハンバーガー */
    .hamburger-button span {
        background-color: #F6F3F3;
    }
    .change-color span{
        background-color: #232323;
    }
    /* ハンバーガー終了 */

    /* ファーストビュー */
    .firstview-container {
        width: 100%;
        position: relative;
        color: #EDEAE2;
    }
    .firstview-container p {
        position: absolute;
        font-size: 35px;
        bottom: 24%;
        right: 14%;
    }
    .firstview-container h1 {
        position: absolute;
        font-size: 70px;
        bottom: 14%;
        right: 7%;
    }
    .woman-leg {
        width: 100%;
    }
    /* ファーストビュー終了 */
    /* スタッフ紹介 */

    /* 武田 */
    .takeda-area {
        display: flex;
        margin-top: 100px;
    }
    .takeda-name {
        display: flex;

        width: 70%;
        height: 28px;
        align-items: center;
        padding: 22% 0 0 22%;

        border-bottom: 1px solid;
    }
    /* 名前のふりがな */
    .takeda-name p:nth-child(2) {
        font-size: 10px;
        padding-top: 13px;
        margin-left: 15px;
    }
    .takeda-image {
        width: 30%;
        text-align: right;
        margin-right: 150px;
    }
    .takeda {
        /* width: 600px; */
        height: 450px;
    }
    .takeda-introduction p {
        width: 40%;
        margin-left: 22%;
    }
    /* 武田終了 */


    /* 藤原 */
    .fujiwara-area {
        display: flex;
        margin-top: 200px;
    }
    .fujiwara-image {
        margin-left: 150px;
    }
    .fujiwara {
        /* width: 684px; */
    }
    .fujiwara-name {
        display: flex;

        width: 70%;
        height: 28px;
        align-items: center;
        padding: 31% 0 0 10%;

        border-bottom: 1px solid;
    }
    .fujiwara-name p:nth-child(2) {
        font-size: 10px;
        padding-top: 13px;
        margin-left: 15px;
    }
    .fujiwara-introduction p {
        width: 40%;
        margin-left: 54%;
    }
    /* 藤原終了 */



    /* 早川 */
    .hayakawa-area {
        margin-top: 200px;
        display: flex;
    }
    .hayakawa-name {
        width: 70%;
        height: 56px;

        display: flex;
        padding: 23% 0 0 31%;

        border-bottom: 1px solid;
    }
    .hayakawa-image {
        width: 50%;
        margin-right: 150px;
    }
    .hayakawa {
        /* width: 100%; */
        height: 500px;
    }
    .hayakawa-name p:nth-child(2) {
        font-size: 10px;
        padding-top: 28px;
        margin-left: 15px;
    }
    .hayakawa-introduction p {
        width: 40%;
        margin-left: 31%;
    }
    /* 早川終了 */
    /* スタッフ紹介終了 */
}