
/* アクセスフレックス切り替え */
@media screen and (max-width: 1700px) { /*ウィンドウ幅が1700pxまでの場合に適用*/
    .access-container {
        margin: 10% 0;
        display: inline;
        font-size: 20px;
    }
    .salon-info-left {
        width: 100%;
        text-align: center;
    }
    .salon-location-image {
        width: 80%;
        height: 100%;
    }
    .salon-info-right{
        margin: 5%;
        padding-left: 6%;
    }
}

@media screen and (max-width: 1550px) { /*ウィンドウ幅が1700pxまでの場合に適用*/
    .cutting-woman {
        width: 800px;
    }

    .top-message-right {
        margin: 0 20%;
    }
}

@media screen and (max-width: 1400px) { /*ウィンドウ幅が1700pxまでの場合に適用*/
    .cutting-woman {
        width: 700px;
    }

    .top-message-right {
        margin: 0 10%;
    }
}
/* アクセスフレックス切り替え終了 */
/* @media screen and (max-width: 1600px) {
} */
@media screen and (max-width: 1024px) { /*ウィンドウ幅が最大1024pxまでの場合に適用*/
    .hero-image {
        width: 90%;
    }
    .cutting-woman {
        width: 600px;
    }
    .top-message-right {
        margin-left: 100px;
    }
    .top-message-right p {
        margin: 65px 0;
        width: 600px;
        font-size: 20px;
    }
    .top-message-right p:first-child {
        font-size: 25px;
    }

    .content-list {
        display: inline;
        text-align: center;
        padding-left: 160px;
    }
    .content-list img {
        width: 800px;
        height: 600px;
        padding-left: 34%;
    }
    .content-list li {
        margin-top: 5%;
    }
    .content-list p:nth-child(1) {
        margin: 20px;
    }
    .content-list p {
        margin: 30px 435px;
    }
    #content-list-menu {
        margin: 30px 480px;
    }
    #content-list-staff {
        margin: 30px 480px;
    }
    .content-list a {
        text-decoration: none;
        color: #232323;
    }
    /* コンテンツリスト終了 */
    /* コンテント終了 */


    /* アクセス */
    .access-container {
        margin: 10% 0;
        font-size: 20px;
    }
    .salon-info-left {
        width: 100%;
    }
    .salon-location-image {
        width: 900px;
        height: 600px;
    }
    /* アクセス終了 */
}