.l-sidemenu-wrapper
  position: fixed
  width: 400px
  height: 100vh
  color: $reverse-font-color;
  background-color: $reverse-background-color;
  right: -400px
  z-index: 2
  opacity: 1
  transition: .5s

.l-sidemenu-wrapper__open
  transform: translateX(-400px)
  transition: .5s

.l-sidemenu-list
  padding: 25%

  li
    padding: 10% 0
    list-style: none

  a
    color: #EDEAE2
    font-size: 30px
    text-decoration: none

.l-sidemenu-list__reverse
  color: $reverse-font-color;
  background-color: $reverse-background-color;
