@media screen and (max-width: 900px) { /*ウィンドウ幅が最大599pxまでの場合に適用*/
    .top-message-container {
        display: inline;
    }
    .cutting-woman {
        margin-top: 30%;
    }
    .top-message-right {
        margin: 30% 10%;
    }
}
@media screen and (max-width: 600px) { /*ウィンドウ幅が最大599pxまでの場合に適用*/
    .hero-image {
        width: 100%;
    }
    .cutting-woman {
        width: 500px;
    }
    .content-title {
        font-size: 30px;
        margin-left: 10%;
        width: 200px;
    }
    .content-list li {
        margin: 18% 0 ;
    }
    .content-list img {
        width: 450px;
        height: 300px;
    }
    .content-list p {
        margin: 30px 195px;
    }
    #content-list-menu {
        margin: 30px 245px;
    }
    #content-list-staff {
        margin: 30px 245px;
    }
    .salon-location-image {
        width: 500px;
        height: 300px;
    }
    .salon-info-right {
        font-size: 15px;
    }
}
